<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
    <h1><a href="#">Printing Website</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li class="has-dropdown">
      <a href="#">Services</a>
      <ul class="dropdown">
        <li><%= link_to "T-shirt printing", tshirts_path %></li>
        <li><%= link_to "Workwear", tshirts_path %></li>
        <li><%= link_to "Sublimation printing", sublimation_path %></li>
        <li><%= link_to "Display printing", display_path %></li>
        <li><%= link_to "Charity vests", sublimation_path %></li>
      </ul>
      </li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </section>
</nav>
